<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Forgot Password</h3>
                <p class="subtitle has-text-grey">Please provide the email address assosciated with your account.</p>
                <div class="box">
                    <form id="frmForgot" role="form">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" id="txtIdentity" required minlength="3" type="email" placeholder="Email" autofocus="" autocorrect="off" autocapitalize="off">
                                <p class="help is-danger"></p>
                            </div>
                        </div>
                        <button id="btnSubmit" class="button is-block is-success is-large is-fullwidth">Submit</button>
                        <p id="frmForgotError" class="help is-danger"></p>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="/register">Register</a>
                </p>
            </div>
        </div>
    </div>
</section>